/* 文章页背景 */
.layout_post>#post {
    /* 以下代表白色透明度为0.3 */
    background: rgba(255,255,255,.3) !important;
}

/* 所有背景（包括首页卡片、文章页、页面页等） */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page, .layout_post>#post, .read-mode .layout_post>#post{
    /* 以下代表白色透明度为0.3 */
    background: rgba(0,0,0,.7) !important;
    border:2px solid #0ff5ff;
    box-shadow: 1px 1px 10px #0ff5ff !important;
}

[data-theme='dark'] #web_bg:before, [data-theme='dark'] #footer:before, [data-theme='dark'] #page-header:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    content: '';
}
#git_container,#archive,#page{
    background:rgba(0,0,0,0.7);
    border: 2px solid #0ff5ff !important;
    box-shadow: 1px 1px 20px #0ff5ff !important;
}

.gitcalendar-graph{
    padding: 15px 10px 0px !important;
}
.avatar-img,#card-info-btn{
   border:2px solid #0ff5ff;
   box-shadow: 1px 1px 20px #0ff5ff !important;
}
#card-info-btn{
   background-color:rgba(0,0,0,0.7) !important;	
}
.button--animated:before{
   background:#0ff5ff;
}
.card-widget{
    background:rgba(0,0,0,0.7) !important;
    border:2px solid #ea03f8 !important;
    box-shadow: 1px 1px 20px #ea03f8 !important;
}
[data-theme='dark']{
--font-color:#fdeacc;
--text-highlight-color:#fdeacc;
}

//leancloud:yPV76XNhFIiEQs8P2sM5otbm-MdYXbMMI,BpEFA9kXc8EDEhyuW8cUcxvQ,https://ypv76xnh.api.lncldglobal.com
//leancloud:yPV76XNhFIiEQs8P2sM5otbm-MdYXbMMI,BpEFA9kXc8EDEhyuW8cUcxvQ,https://ypv76xnh.api.lncldglobal.com